<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoSize.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ButtonTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Control Fun.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>FirstSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>HelloWorld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MVTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>SWH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>SWH2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>SWH3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Swap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Swap2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Swap3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SwitchView4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Test2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Test3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Test4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>View Switcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>View Switcher2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ViewSwitcher3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9D78C1F015C4E96D0010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C20F15C4E96D0010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C24515C6AF2C0010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C26415C6AF2C0010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C27D15C6B8640010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C29C15C6B8650010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C2B515C6BCA60010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C2CB15C6BCA60010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C2E415C6BD1C0010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C30915C6BD1D0010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C32215C808940010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C34415C808950010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C37015C8163B0010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C38615C8163B0010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C3B315C82AD90010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C3C915C82AD90010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C3ED15C96D6C0010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C40315C96D6D0010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C42D15CC07E60010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D78C44C15CC07E70010768D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D81C7BF15CFF2BB00A9D1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D81C7EF15CFF7C800A9D1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D81C80E15D0082800A9D1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D81C83315D141AC00A9D1D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DBFC46115C4038200AA038A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DBFC48015C4038200AA038A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DBFC4BC15C4232400AA038A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DBFC4D215C4232500AA038A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DEBD8C915C2C2FB00D62CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DEBD8F015C2C2FC00D62CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DEBD90C15C2C42400D62CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DEBD93315C2C42400D62CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DEBD94C15C2C4FF00D62CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DEBD97115C2C4FF00D62CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DEBD98A15C2C59E00D62CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DEBD9B415C2C59F00D62CCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
